<h1>Restaurants</h1>
<% # We iterate over restaurants we got from the app.rb %>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
  <% # Pass the restaurant id into the url we are sending the user to with link %>
    <a href="restaurants/<%=restaurant.id%>">
      <%= restaurant.name %>
    </a>
  </li>
  <% end %>
</ul>
