<div class="container">
  <h1>Tag a plant</h1>

  <%= simple_form_for [@plant,@plant_tag] do |f| %>
    <%#= f.input :tag, collection: Tag.all, value_method: :id, label_method: :name %>
    <%= f.association :tag %>
    <%= f.submit %>
  <% end %>
</div>
