   <div class="card" style="width: 18rem;">
      <img src="<%= flat["imageUrl"] %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= flat["name"] %></h5>
        <p class="card-text"><%= flat["price"]  %></p>
        <%= link_to "See the flat", flat_path(flat["id"]), class: 'btn btn-primary' %>
      </div>
    </div>
